@page "/"

@using Sqrs.Data
@inject SquareService Service

<PageTitle>Sqrs</PageTitle>

<div class="main" 
    @onkeydown="KeyDown"
    tabindex="0"
>


    <div class="square bound" @onclick="AddSquare">

        @foreach (var square in squares)
        {
            if (square != null)
            {

                <div class="tile square @square.SelectedClasses(SelectedId)" 
                    style="--col: @square.Col; --row: @square.Row; --size: @square.Size" 
                    @onclick:stopPropagation="true" 
                    @onclick="() => Select(square.Id)"
                    @key=@square.Id
                    >
                </div>
            }

        }
    </div>
</div>


@code {

    private Square[] squares = new Square[0];

    private int SelectedId = 0;

    private void AddSquare()
    {

        Service.AddSquare();
    }

    private void Select(int id){
        SelectedId = id;
    }

    private void KeyDown(KeyboardEventArgs e){
        switch(e.Key){
            case "a": 
                Service.ShiftSquare(SelectedId, 0, -1);
            break;
            case "d": 
                Service.ShiftSquare(SelectedId, 0, 1);
            break;
            case "w":
                Service.ShiftSquare(SelectedId, -1, 0);
            break;
            case "s": 
                Service.ShiftSquare(SelectedId, 1, 0);
            break;
        }
    }

    private void Shrink(int id)
    {
        Service.ShrinkSquare(id);
    }

    private async void SquaresUpdated(object? sender, Square[] update)
    {

        await InvokeAsync(() =>
        {
            squares = update;
            StateHasChanged();
        });
    }




    protected override void OnInitialized()
    {
        base.OnInitialized();

        squares = Service.GetSquares();

        Service.SquareUpdate += SquaresUpdated;
    }
}